:root {
  --main-color: #ffffff;
  --second-color: #757575;
  --title-color: #212121;
  --background-color: #f5f4fa;
  --logo-color: #2196f3;
}
body {
  font-family: "Roboto", sans-serif;
}

footer {
  background-color: black;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* -----------HEADER_____________*/

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header .container {
  display: flex;
  align-items: center;
}

.header {
  border-bottom: 1px solid #ececec;
}

.nav-list {
  display: flex;
}

.nav-list_item {
  position: relative;
  justify-content: center;
  align-items: center;
  padding-bottom: 32px;
  padding-top: 32px;
}

.nav-list_item:not(:last-child) {
  margin-right: 50px;
}
.nav-list-link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-contacts {
  display: flex;
  margin-left: auto;
  margin: 0;
  padding: 0;
  list-style: none;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.23;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--logo-color);
  margin-right: 93px;
  padding-top: 0;
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 20px;
}

.logo-web {
  color: var(--title-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.23;
  letter-spacing: 0.03em;
}
.logo-web-footer {
  color: var(--main-color);
}

.nav-list-link {
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current {
  color: var(--logo-color);
}

.current::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--logo-color);
}

.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--logo-color);
}

.nav-contacts_item:not(:last-child) {
  margin-right: 50px;
  padding: 0;
}

.nav-contacts_link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-color);
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-contacts {
  margin-left: auto;
}

.nav-contacts_link:hover {
  text-decoration: underline;
  color: var(--logo-color);
}

.nav-contacts_link:focus {
  text-decoration: underline;
  color: var(--logo-color);
}

.contacts-icon {
  fill: currentColor;
  margin-right: 10px;
}

/* -----------MAIN_____________*/

/* -----------MAIN- main page_____________*/
.hero {
  background-color: #2f303a;
  text-align: center;
  padding: 200px 0;
  /* max-width: 1600px; */
  height: 600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Img-ground.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* margin-bottom: 94px; */
}

.hero-title {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-btn {
  color: #ffffff;
  background-color: var(--logo-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  letter-spacing: 0.06em;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 32px;
  display: block;
  border-color: var(--logo-color);
}

.hero-container {
  padding-bottom: 94px;
}

.backdrop {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;

  background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  transform: translate(-50%, -50%);
  padding: 40px;
  border-radius: 3px;
  background: #fff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-close:hover {
  background-color: var(--logo-color);
}

.modal-title {
  font-size: 20px;
  line-height: 23px;

  color: var(--secondary-text-color);
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Roboto";
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;

  letter-spacing: 0.01em;

  color: #757575;
}
.form-input {
  width: 100%;
  margin-top: 4px;
  resize: none;

  padding: 11px 35px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input-svg {
  position: absolute;
  top: 27px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
  border: 1px solid var(--logo-color);
  outline: none;
}
.form-input:focus + .form-input-svg {
  fill: var(--logo-color);
}
.form-input.comment {
  padding: 12px 16px;
}
.form-field-policy {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}
.form-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.form-checkbox:hover + .checkbox-icon,
.form-checkbox:focus + .checkbox-icon {
  border-color: var(--logo-color);
}

.form-field-policy {
  display: inline-block;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: #757575;
}

.checkbox-icon {
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-color);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-checkbox:checked + .checkbox-icon {
  border-color: var(--logo-color);
  background-color: var(--logo-color);
  background-image: url(../images/check.svg);
  background-size: contain;
  background-origin: border-box;
}
.policy-link {
  color: var(--logo-color);
  text-decoration: underline;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.policy-link:hover,
.policy-link:focus {
  color: #188ce8;
  text-decoration: none;
}
.submit-btn {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border: 0px;
  color: var(--background-color);
  background-color: var(--logo-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.benefits {
  display: flex;
}

.benefits-item:not(:last-child) {
  margin-right: 30px;
}

.benefits-custom {
  display: flex;
  justify-content: center;
  padding: 25px 0;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}

.benefits-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
  width: 270px;
}

.benefits-icon {
  width: 65px;
  height: 70px;
}

* .section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.work-section {
  padding-top: 0;
}

.works-title {
  margin-bottom: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.img {
  max-width: 100%;
  display: block;
  height: auto;
}

.works {
  display: flex;
}

.works-item:not(:last-child) {
  margin-right: 30px;
}

.works-item {
  position: relative;
}

.label {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 27px 0;
  background: rgba(47, 48, 58, 0.8);
}

.works-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}

.section-command {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.team-section {
  background-color: var(--background-color);
}

.command {
  display: flex;
}

.command-item:not(:last-child) {
  margin-right: 30px;
}

.section-command {
  text-align: center;
  margin-bottom: 50px;
}

.command-item-command {
  font-weight: 7000;
  font-size: 36px;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.command-item-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-color);
  text-align: center;
  margin-bottom: 10px;
}

.command-item-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-color);
  margin-bottom: 10px;
  text-align: center;
}

.command-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.command-text {
  display: flex;
  display: block;
}

.command-link-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.command-text {
  background-color: var(--main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.command-social-icon {
  height: 20px;
  width: 20px;
}

.join-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item:not(last-child) {
  margin-right: 10px;
}

.social-item:last-child {
  margin-right: 0;
}

.command-social-icon:focus,
.command-social-icon:hover {
  fill: var(--main-color);
  background-color: var(--logo-color);
}

.join-social-link:hover,
.join-social-link:focus {
  fill: var(--main-color);
  background-color: var(--logo-color);
}

.filter {
  display: flex;
  margin-top: -94px;

  justify-content: center;
  padding-top: 94px;
  margin-bottom: 50px;
}
.filter-item:not(:last-child) {
  margin-right: 8px;
  text-align: center;
}

.filter-item-btn {
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  border-width: 0px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-item-btn {
  cursor: pointer;
}

.filter-item-btn {
  background-color: var(--background-color);
}

.filter-item-btn:hover,
.filter-item-btn:focus {
  color: white;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.portfolio-about {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.portfolio-item:not(:last-child) {
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio-item:last-child {
  margin-left: 30px;
  margin-bottom: 30px;
}

.portfolio-item {
  flex-basis: calc(100% / 3 - 30px);
}

.portfolio-about {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.portfolio-title {
  margin-bottom: 4px;
}

.portfolio-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 0;
  color: #212121;
}
.project-link {
  display: block;
}

.project-link:focus,
.project-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.project-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(101%);
  color: #fff;
}

.project-link:hover .project-description,
.project-link:focus .project-description {
  transform: translateY(0);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.section-clients {
  margin-bottom: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-clients_list {
  display: flex;
  justify-content: space-between;
}

.section-clients_list {
  display: flex;
}

.section-clients_link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-clients_link:hover,
.section-clients_link:focus {
  border: 1px solid #2196f3;
  fill: #2196f3;
}
.section-clients_icon {
  width: 140px;
  height: 60px;
}

/* -----------footer_____________*/

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  margin-bottom: 20px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.23;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--logo-color);

  padding-top: 0;
  display: inline-block;
}

.adress {
  font-style: normal;
}

.adress-company-street {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.71x;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-bottom: 10px;
  display: inline-block;
  font-style: normal;
}

.adress-link {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 10px;
  display: inline-block;
  font-style: normal;
  color: var(--second-color);
}
.join {
  margin-left: 70px;
}
.join-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.join-list {
  display: flex;
  margin-top: 20px;
}
.join-link {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--background-color);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join-link:focus,
.join-link:hover {
  background-color: var(--logo-color);
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: var(--main-color);
}

.footer-container {
  align-items: baseline;
  display: flex;
}
.join-item:not(:last-child) {
  margin-right: 10px;
}

.footer-form {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.footer-input {
  width: 358px;
  margin-top: 20px;
  padding: 15px 16px;
  background: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-btn {
  display: flex;
  margin-left: 12px;
  cursor: pointer;
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border: 0px;
  color: var(--main-color);
  background-color: var(--logo-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  justify-content: center;
}

.subscribe-btn-icon {
  margin-left: 10px;

  background-color: var(--logo-color);
}

.subscribe-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe {
  margin-left: 70px;
}
