.adress {
  font-style: normal;
}

.adress-company-street {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.71x;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-bottom: 10px;
  display: inline-block;
  font-style: normal;
}

.adress-link {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 10px;
  display: inline-block;
  font-style: normal;
  color: var(--second-color);
}
