.join {
  margin-left: 70px;
}
.join__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.join__list {
  display: flex;
  margin-top: 20px;
}
.join__link {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--background-color);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join__link:focus,
.join__link:hover {
  background-color: var(--logo-color);
}

.join__item:not(:last-child) {
  margin-right: 10px;
}

.join__social-icon {
  width: 20px;
  height: 20px;
  fill: var(--main-color);
}
