.header__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.23;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--logo-color);
  margin-right: 93px;
  padding-top: 0;
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 20px;
}

.logo__web {
  color: var(--title-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.23;
  letter-spacing: 0.03em;
}
.logo__web--white {
  color: var(--main-color);
}

.logo__footer {
  margin-bottom: 20px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.23;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--logo-color);
  padding-top: 0;
  display: inline-block;
}
