.nav-list {
  display: flex;
}

.nav-list__item {
  position: relative;
  justify-content: center;
  align-items: center;
  padding-bottom: 32px;
  padding-top: 32px;
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.nav-list__link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-contacts {
  display: flex;
  margin-left: auto;
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-list__link {
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav-list__link:hover,
.nav-list__link:focus {
  color: var(--logo-color);
}

.nav-contacts__item:not(:last-child) {
  margin-right: 50px;
  padding: 0;
}

.nav-contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-color);
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-contacts {
  margin-left: auto;
}

.nav-contacts__link:hover {
  text-decoration: underline;
  color: var(--logo-color);
}

.nav-contacts__link:focus {
  text-decoration: underline;
  color: var(--logo-color);
}

.nav-contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}
