.project__link {
  display: block;
}

.project__link:focus,
.project__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__thumb {
  position: relative;
  overflow: hidden;
}

.project__description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(101%);
  color: #fff;
}

.project__link:hover .project__description,
.project__link:focus .project__description {
  transform: translateY(0);
}
